server:
   port: 8086


spring:
  datasource:
      driver-class-name: org.h2.Driver
      url: jdbc:h2:mem:test
      username: sa
      password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    properties:
        hibernate:
          ddl-auto: update
          format_sql: true
          show_sql: true


logging:
   level:
      org:
        hibernate:
          type:
            descriptor:
              sql: trace
  